.contenedor {

    text-align: center;
}

.tarjeta {

    display: inline-block;
    width: 150px;
    height: 100px;
    background-color: lightseagreen;
    margin: 10px;
    text-align: center;
    line-height: 100px;
    border-radius: 10px;
    color: white;
    font-weight: bold;

}

/* CSS Ejemplo de Block */