* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    padding: 40px;
    outline: solid 1px blue;
}

.container {
    padding: 20px;
}

/* Alineacion de texto */

.textoIzquiera {
    text-align: left;
    /* Alineado a la izquierda */
}

.textoCentro {
    text-align: center;
    /* Alineado al centro */
}

.textoDerecha {
    text-align: right;
    /* Alineado a la derecha */
}

/* Decoracion de texto */

.subtitulo1 {
    text-decoration: underline;
    /* Subrayado */
    font-style: italic;
    /* Cursiva */
}

.tachado {
    text-decoration: line-through;
    /* Texto tachado */
}

.sinDecoracion {
    text-decoration: none;
    color: black;
    /* Sin decoración */
}

/* Grosor de fuente */

.negrita {
    font-weight: bold;
    /* Negrita */
}

.semiNegrita {
    font-weight: 100;
    /* Fuente más delgada */
}