body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

.container {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;

   /* Propiedades flexbox */
    display: flex;
    justify-content: space-between;
}

.item {
    margin: 10px;
    background-color: #00ade5;
    color: #ffffff;
    padding: 20px;
    border-radius: 10px;
}


/*
.item {
    background-color: #00ade5;
    color: #fff;
    margin: 20px;
    padding: 20px;
}


.container {
    display: flex;
    Cambia a column, row-reverse, etc. para ver la diferencia 
    flex-direction: row; 
}

.container {
    display: flex;  Activa flexbox en este contenedor 
    background-color: #f0f0f0;
    padding: 20px;
}

.container {
    display: flex;
    Cambia a flex-start, center, etc. 
    justify-content: space-between;
}


.container {
    display: flex;
    Cambia a flex-start, flex-end, stretch, etc. 
    align-items: center;
}


.container {
    display: flex;
    Prueba nowrap y wrap-reverse 
    flex-wrap: wrap;
}

*/