* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(224, 224, 224)
}

/* Header */

.Header {
    background-color: rgb(23, 51, 83);
    width: 100%;
    height: 145px;
    padding: 25px;
}

.Search {
    background-color: rgb(32, 72, 117);
    height: 60px;
    padding: 20px;
    gap: 50px;
}

.Content1 {
    gap: 50px;
    display: inline-block;
    padding: 0px 27px 0px 27px;
    text-decoration: none;
}

.Content1:hover {
    color: rgb(67, 112, 163);
    text-decoration: underline;
}

.Titulo p {
    padding-top: 25px;
}

/* Cajas */

.Big_box {
    background-color: white;
    width: 90%;
    justify-self: center;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.281);
    margin-top: 50px;
    border-radius: 10px;
    height: 370px;
}

.Box {
    background-color: rgb(32, 72, 117);
    border-radius: 5px;
    width: 95%;
    display: inline-block;
    margin-top: 25px;
    height: 150px;
}

.Subtitulo {
    padding: 25px;
    padding-top: 40px;
}

.Subtitulo p {
    padding-top: 20px;
}

/* Informacion */

.Tarjeta {
    width: 350px;
    height: 140px;
    background-color: rgb(0, 164, 222);
    display: inline-block;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
    padding-top: 30px;
    margin-top: 20px;
}

.Content2 {
    padding-top: 25px;
}