* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    background-color: rgb(221, 221, 221);
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

header {
    background-color: #1e293b;
    color: white;
    text-align: center;
    padding: 30px;
}

/* Diseño NAV*/
.nav {
    background-color: #334155;
    padding: 15px;
    display: flex;
    justify-content: center; /* Centrar contenido con flex */
    gap: 20px; /* separacion */
}

.nav a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.main {
    padding: 30px;
}

.seccion {
    margin-bottom: 40px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.661);
}

.contenedor {
    background-color: rgb(238, 238, 238);
    height: 200px;
    border: 3px dashed #94a3b8;
    margin-top: 20px;
    display: flex;
}

/* Cajas a manipular*/
.caja {
    width: 80px;
    height: 80px;
    background-color: steelblue;
    color: white;
    font-size: 24px;
    font-weight: bold;
    border-radius: 10px; /*display flex*/
    display: flex;
    justify-content: center; /* Centra horizontalmente el contenido*/
    align-items: center; /* Centra verticalmente el contenido */
}

/* EJEMPLOS */
/* 1.- Justify content + gap */
.ejemplo1 {
    justify-content: center;
    /* Centrar contenido */
    gap: 20px;
}
/* 2.- Align items + gap*/
.ejemplo2{
    gap:20px;
    align-items: center;
}
/*3.- Flex direction column + gap*/
.ejemplo3{
    flex-direction:column;
    gap:10px;
    justify-content:center;
    align-items:center;
}
/*4.- Space-between + Align-items */
.ejemplo4{
    align-items:center;
    justify-content: space-between;
    padding: 0 20px;
}
/*5.- Centrado Compelto */
.caja-grande{
    width:180px;
    height:100px;
}
.ejemplo5{
    justify-content:center;
    align-items:center;
}